---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15j9eUE7JwniA0270pBGIPED&plan=base&email=john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_9SZCzWtrn9rSdujINLt8Urum
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1427032926,
          "id": "cus_5uzd9np8Cn5sZM",
          "livemode": false,
          "description": null,
          "email": "john@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5uzd9np8Cn5sZM/subscriptions",
            "data": [
              {
                "id": "sub_5uzdI0SqbYs70G",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1427028799,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1427032926,
                "status": "active",
                "customer": "cus_5uzd9np8Cn5sZM",
                "cancel_at_period_end": false,
                "current_period_start": 1427032926,
                "current_period_end": 1429711326,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5uzd9np8Cn5sZM/sources",
            "data": [
              {
                "id": "card_15j9eUE7JwniA0273JfpWvCH",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "VBjjFK12L1YtJfTB",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5uzd9np8Cn5sZM"
              }
            ]
          },
          "default_source": "card_15j9eUE7JwniA0273JfpWvCH"
        }
  recorded_at: Sun, 22 Mar 2015 14:02:07 GMT
recorded_with: VCR 2.9.3
