---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15h0yaE7JwniA0270ukCTML2&description=Sign%20up%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_9SZCzWtrn9rSdujINLt8Urum
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15h0ybE7JwniA027DmOT6t2I"
          }
        }
  recorded_at: Mon, 16 Mar 2015 16:22:01 GMT
recorded_with: VCR 2.9.3
