---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15juOhE7JwniA027u2zCWf3n
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9SZCzWtrn9rSdujINLt8Urum
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15juOhE7JwniA027u2zCWf3n",
          "created": 1427212615,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15juOhE7JwniA0276Fslgi4s",
              "object": "charge",
              "created": 1427212615,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15juOdE7JwniA027kfFsghbg",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "VBjjFK12L1YtJfTB",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5vlwvWtYjPMEPS"
              },
              "captured": true,
              "balance_transaction": "txn_15juOhE7JwniA027PPI4H6oy",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5vlwvWtYjPMEPS",
              "invoice": "in_15juOhE7JwniA027U7OcxBIc",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15juOhE7JwniA0276Fslgi4s/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5vlwjiawWhaVgH",
          "api_version": "2015-02-18"
        }
  recorded_at: Wed, 25 Mar 2015 14:43:56 GMT
recorded_with: VCR 2.9.3
