/ - if !logged_in?
/   %p#intro
/     Share Your Favorite Movies
/     %br/
/     %span
/       You can create movies you want to share and leave some reviews.
/ -else
/   %p#intro
/     Hello,
/     = current_user.full_name
/     %br/
/     %span
/       Share the movies that others would love them as well.

- @categories.each do |category|
  %article.video_category
    %header
      %h3= link_to category.name, category_path(category.name)
    .videos.row
      - category.recent_videos.each do |video|
        .video.col-sm-2
          = link_to video_path(video.id) do
            %img(src="#{video.small_cover}")