---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15lC7iE7JwniA027C0fVCQO9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9SZCzWtrn9rSdujINLt8Urum
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15lC7iE7JwniA027C0fVCQO9",
          "created": 1427519082,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15lC7iE7JwniA027yhxH6aj1",
              "object": "charge",
              "created": 1427519082,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15lC7FE7JwniA027gg53BIo3",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2018,
                "fingerprint": "SR3feeGNXdhR4uSG",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5w8SSvTMaX0fkI"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_5w8SSvTMaX0fkI",
              "invoice": null,
              "description": "payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15lC7iE7JwniA027yhxH6aj1/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_5x6KkpcZB3L0z3",
          "api_version": "2015-02-18"
        }
  recorded_at: Sat, 28 Mar 2015 05:13:05 GMT
recorded_with: VCR 2.9.3
