---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_9SZCzWtrn9rSdujINLt8Urum
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15j9dtE7JwniA027V2MxvQSb",
          "livemode": false,
          "created": 1427032889,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15j9dtE7JwniA027H2DiRXZ4",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "VBjjFK12L1YtJfTB",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "61.227.170.238"
        }
  recorded_at: Sun, 22 Mar 2015 14:01:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15j9dtE7JwniA027V2MxvQSb&plan=base&email=delphia%40roberts.biz
    headers:
      Authorization:
      - Bearer sk_test_9SZCzWtrn9rSdujINLt8Urum
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1427032890,
          "id": "cus_5uzdjn0c1rvjNp",
          "livemode": false,
          "description": null,
          "email": "delphia@roberts.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5uzdjn0c1rvjNp/subscriptions",
            "data": [
              {
                "id": "sub_5uzdH8Kuojrdpg",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1427028799,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1427032890,
                "status": "active",
                "customer": "cus_5uzdjn0c1rvjNp",
                "cancel_at_period_end": false,
                "current_period_start": 1427032890,
                "current_period_end": 1429711290,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5uzdjn0c1rvjNp/sources",
            "data": [
              {
                "id": "card_15j9dtE7JwniA027H2DiRXZ4",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2018,
                "fingerprint": "VBjjFK12L1YtJfTB",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5uzdjn0c1rvjNp"
              }
            ]
          },
          "default_source": "card_15j9dtE7JwniA027H2DiRXZ4"
        }
  recorded_at: Sun, 22 Mar 2015 14:01:31 GMT
recorded_with: VCR 2.9.3
